<?link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet"?>

<vlayout vflex="1" hflex="1" apply="com.thai.controller.login.AuthenticationController">
    <div vflex="4">
       <div style="" class="header">
       		<div>
       			<image src="/img/logo.png" width="161px" height="120px"></image>
       			<label value="Thế giới nội thất" class="text-logo"></label>
       		</div>
    	</div>
    </div>
    <div vflex="2" style="background-color:white;border-bottom:0px;display:flex">
        <div style="flex-grow:1">
            <menubar id="menubar" vflex="1" width="100%" autodrop="true" style="borderbottom:0px">
                <menuitem label="Trang chủ" href="/home.zul" iconSclass="z-icon-home"/>
                <menu label="Thế loại">
                    <menupopup>
                    	<menuitem label="Tất cả" href="/home.zul?type=" />
                        <menuitem label="Bàn" href="/home.zul?type=ban" />
                        <menuitem label="Ghế" href="/home.zul?type=ghe" />
                        <menuitem label="Tranh" href="/home.zul?type=tranh" />
                    </menupopup>
                </menu>
                <menuitem label="Admin" id="menuAdmin" />
            </menubar>
        </div>
        <div>
            <menubar>
                <menuitem label="${listCart.size()}" href="/cart.zul" id="btnCart" iconSclass="z-icon-shopping-cart"/>
            </menubar>
        </div>
    </div>
</vlayout>