<?init class="org.zkoss.zk.ui.util.Composition"
arg0="/templateAdmin/layout.zul"?>

<zk>
	<vlayout width="100%" apply="com.thai.controller.product.AdminController" self="@define(content)">
		<div height="50px" style="margin-top:20px;">Admin Manager</div>
		<hbox align="center" style="margin-bottom: 10px;">
			Keyword:
			<textbox id="keywordBox" />
			<button id="clearButton" label="Clear"  iconSclass="z-icon-refresh"/>
			<button id="searchButton" label="Search" image="/img/filter.png" />	
			<button id="addButton" label="Add" iconSclass="z-icon-plus" style="float:right"/>
		</hbox>
		<listbox id="listProduct" rows="3" emptyMessage="No car found in the result" mold="paging" pageSize="3">
			<listhead>
				<listheader label="Code" />
				<listheader label="Name" />
				<listheader label="Price" width="20%" />
				<listheader label="Description" />
				<listheader label="Action" />
			</listhead>
			<template name="model">
				<listitem>
					<listcell>
						<image src="${each.imgaeUrl}" width="50px" />
					</listcell>
					<listcell label="${each.name}"></listcell>
					<listcell><label value="${each.totalPriceStr} VNĐ" /></listcell>
					<listcell><label value="${each.description}" /></listcell>
					
					<listcell>
						<hlayout>
							<button forward="onClick=listProduct.onEdit" id="Edit${each.id}" iconSclass="z-icon-edit"/>
							<button forward="onClick=listProduct.onDelete" id="Delete${each.id}" iconSclass="z-icon-trash-o"/>
						</hlayout>
					</listcell>
				</listitem>
			</template>
		</listbox>
		<hlayout style="margin-top:20px" width="100%">
			<image id="previewImage" width="250px" />
			<vlayout hflex="1">
				<label id="modelLabel" />
				<label id="makeLabel" />
				<label id="priceLabel" />
				<label id="descriptionLabel" />
			</vlayout>
		</hlayout>
	</vlayout>
</zk>