<window id="modalDialog" closable="true" title="Chi tiết đơn hàng" border="normal" apply="com.thai.controller.order.DetailOrderController" width="800px">
  
		<listbox id="listProduct" mold="paging" pageSize="3" emptyMessage="Không có sản phẩm trong đơn hàng"
			style="border: 0px;">
			<listhead>
				<listheader label="Hình ảnh" />
				<listheader label="Tên sản phẩm" />
				<listheader label="Số lượng" />
				<listheader label="Thành tiền" width="20%" />
			</listhead>
			<template name="model">
				
				<listitem>
					<listcell>
						<image src="${each.imgaeUrl}" width="50px"/>
					</listcell>
					<listcell label="${each.name}"></listcell>
					<listcell label="${each.num}"></listcell>
					<listcell label="${each.totalPriceStr} VNĐ"></listcell>
				</listitem>
			</template>
		</listbox>
		<div>
			<label id="totalMoney" ></label>
		</div>
	
</window>