<window id="modalDialog" closable="true" title="Add New Popup" border="normal" apply="com.thai.controller.user.EditUserController" width="500px">
    <!-- Them cac truong thuoc tinh Car -->
    <image id="previewImageUser" />
    <div>
    	 Upload your hot shot:
    	<fileupload label="Upload" onUpload="previewImageUser.setContent(event.media)">
    		<attribute name="onUpload">
									<![CDATA[
											org.zkoss.util.media.Media media = event.getMedia();
											previewImageUser.setContent((org.zkoss.image.Image) media);
											previewImageUser.setWidth("250px");
											previewImageUser.setHeight("300px");
											
										]]>
							</attribute>
    	</fileupload>
    </div>
   <grid>
		<columns>
			<column label=""/>
			<column label=""/>
		</columns>
		<rows>
			<row>
				<label value="Mã nhân viên"></label>
	    		<textbox id="codeUser" hflex="1" constraint="no empty" />
			</row>
			<row>
				<label value="Họ tên:"></label>
	    		<textbox id="fullName" hflex="1" constraint="no empty" />
			</row>
			<row>
				<label value="Tên tài khoản:"></label>
	    		<textbox id="userName" hflex="1" constraint="no empty" />
			</row>
			<row>
				<label value="Mật khẩu"></label>
	    		<textbox id="passWord" hflex="1" constraint="no empty" />
			</row>
		</rows>
	</grid>
    <div>
    	<button id="updateUserBtn" hflex="1" label="Add User" />
    </div>
    
</window>